/*-- Fontes --*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Righteous&display=swap');/*Quiksand*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Quicksand:wght@400;600;700&family=Righteous&display=swap');/*Acme*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;900&display=swap');/*aniKt*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;900&family=Roboto:wght@100;400&display=swap');/*Roboto*/
/*-- Fontes FIM --*/

/*-- Pagina --*/

*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

/*-- Pagina FIM --*/

/*--================================================================ Padrão ====================================================================--*/

hr{
    margin: 15px 80px;
    text-decoration: double;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h1{
    
    width: 999px;
    margin:0px auto;
    font-family:'Quicksand', sans-serif;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, red ,gray ) 1;
    animation: titulo 2s ease infinite ;
    
}
h2{
    margin: 92px;
}
p{
    font-family:'Quicksand', sans-serif;
    font-size: 22px;
}

/* placeholder */
::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input {
    padding: 15px;
    outline: none;
}
section{
    outline: none !important;
}


/*--======================================================= Padrão FIM ========================================================================--*/

/*--======================================================== Cabeçario ========================================================================--*/

header{
   
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding:0 20px;
    box-shadow: 1px 1px 4px black;
    position: relative;
    z-index: 1;
    text-decoration:  none !important;
    animation: cabecario 15s ease infinite;
    text-shadow: none!important;
    
}

@keyframes cabecario{
    0%{
        text-decoration: overline white;
        text-shadow: 1px 1px gray,-1px 1px gray;
       border-color: gray; 
        box-shadow: 1px 1px 4px gray;
    }
    25%{
        text-decoration: overline #BB0A21;
        text-shadow: 1px 1px #BB0A21,-1px 1px #BB0A21;
        border-color: #BB0A21;
        box-shadow: 1px 1px 4px #BB0A21;
    }
    50%{
        text-decoration: overline red;
        text-shadow: 1px 1px red,-1px 1px red;
      
       border-color: red;
       box-shadow: 1px 1px 4px red;
       
    }
   75%{
    text-decoration: overline #BB0A21;
    text-shadow: 1px 1px #BB0A21,-1px 1px #BB0A21;
   
        border-color: #BB0A21;
        box-shadow: 1px 1px 4px #BB0A21;
    }
    100%{
        text-decoration: overline white;
        text-shadow: 1px 1px gray,-1px 1px gray;
        border-color: gray;
        box-shadow: 1px 1px 4px gray;
    }
}
/*-- Cabeçario FIM --*/

/* Imagens Cabeçario */
header div legend{
    animation: cabecario 15s ease infinite;
     border: none!important;
    box-shadow: none!important;
    font-family:'Quicksand', sans-serif; 
    font-size: 40px;
    text-shadow: 1px 1px white,-1px 1px white;
}
header div{
    margin-left: 14px;
    text-decoration: overline;
    
}

header div a{
    animation: cabecario 15s ease infinite;
    border: none!important;
    box-shadow: none!important;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    
}
#img1{
    margin: 15px;
    height: 92px;
    border-radius: 20%;
    animation: cabecario 15s ease infinite;
    border: 1px solid white;
}
#img2{
    height: 50px;
    width: 50px;
    border-radius: 100%;
   transition: 1s;
    
}
#img3{
    align-items: center;
    margin-right: 50px;
    height: 55px;
    width: 55px;
    margin-top: 15px;

}




/* Imagens Cabeçario FIM */

/* Menu Cabeçario*/

header ul{
    display: flex;
    margin-right: 50px;
    align-items: center;
}
header ul li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 0 60px;
    padding: 10px 20px;
    background-color:rgb(233, 216, 216);
    border-radius: 8%;
    border: 0.7px solid gray;
    box-shadow: 9px 08px 1px  whitesmoke;
    font-family:'Quicksand', sans-serif;
    font-size: 22px;
    transition: 600ms;
    
}
#linkCab{
    text-decoration: none;
    color:black;
}
header ul li:hover{
    box-shadow: 9px 05px 1px red;
}

/*==================================================================== Menu Cabeçario FIM=========================================================*/

/*--================================================================== Rodapé ==================================================================--*/

footer{
    width: 80%;
    margin: 0 auto;
    height: 80px;
    border-width: 0px;
    border-top-width: 3px;
    border-style: solid;
    border-image: radial-gradient(bisque,black,black,white )1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 60px;
}

/*Imgans rodapé*/
#logoR img{
    box-shadow: 1px 1px 4px black;
    margin-top: 15px;
    border-radius: 20px;
    height: 86px;
    width: 86px;
    margin-left: 70px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: none;
    

}
.menuR{
    margin: 0 50px;
    height: 60px;
    
    
}
.menuR img{
    margin: 0 30px;
    height: 40px;
    width: 40px;
}


.menuR legend{
    
    margin:8px 225px;
    font-size: 20px;
    font-family: 'Quicksand';
    font-weight: 500;
}
/*Imgans rodapé FIM*/

/*--=========================================================== Rodapé  FIM ====================================================================--*/

/*--============================================================ Botão Cima ====================================================================--*/
#cima{
    background-color: black;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: fixed;
    left: 94%;
    bottom: 15px;
    z-index: 1;
}
#cima img{
    display: flex;
    height: 100%;
    width: 100%;
}
#cima img:hover{
  
   transition: 500ms;
   padding: 7px;
    margin-bottom: 15px;
    border-radius: 100%;
    box-shadow: 1px 1px 7px black;
    
}
#cima:hover{
    bottom: 17px;
    
}

/*--=================================================================== Cima Fim a=============================================================--*/


/*======================================================================== HOME ===============================================================*/



/*-- Menu de Opções --*/

main{
    
    width: 100%;
    display: flex;
    justify-content: center;
   
    margin:  60px auto;
    margin-top: 140px;
    margin-bottom: 130px;
    position:static;
    z-index: 1;
}
main ul {
    margin: 0;
    margin-left: 40px;
    margin-bottom: 3px;
    display: flex;
    list-style:none;
    justify-content: center;
    text-align: center;
    align-items: center;
}
main li{
    margin:0 70px;
    font-size: 26px;   
    
}
#plano{
    padding-right: 80px;
    padding-left: 80px;
    color:red;
    border-left: 1px black solid;
    border-right: 1px black solid;
    text-shadow: 1px 1px 1px black,-1px 1px 1px black;
}

#linkMenu{
    text-decoration:none;
    color:black;
    font-family: 'Kanit';
}
#plano:hover{
    color:gray;
    
   
}
#linkMenu:hover{
    color:red;
    
}
#teste{
    margin: 0 auto;
    width: 100%;
}

/*-- Menu de Opções FIM --*/

/*-- Frase Motivassional --*/

#fraseM1 p {
    text-align: center;
    font-family: 'verdana';
    font-size: 20px;    
} 
#fraseM1 a{
    text-decoration:none;
    font-family: 'Segoe UI';
    font-style:italic;
    font-size: 26px;  
    color:red;
    
}
#fraseM1 a:hover{
   
   text-shadow: 1px 1px 1px black,-1px 1px 1px gray;
}

/*-- Frase Motivassional FIM --*/


/*-- Localização --*/

.localizacao{
    position: relative;
}
.localizacao h1{
    width: 999px;
    margin:0 auto;
    font-family:'Quicksand', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, red ,gray ) 1;
    
}
.localizacao h2{
    display: flex;
    font-weight:lighter;
    margin-left: 370px;
    font-family:'verdana';
    font-size:30px;
    margin-bottom: 40px;
}
.localizacao p{
    font-size: 22px;
    margin-left: 150px;
    font-family: 'Quicksand';
    line-height: 50px;
    
}
#diasSemana{
    font-size: 20px;
    margin-left: 150px;
    font-family: 'Quicksand';
    line-height: 50px;
    font-weight: 600;
    color: #181818e7;

}
#horarioSemana{
    position: absolute;
    bottom: 0px;
    left: 400px;
    font-size: 20px;
    font-family: 'Quicksand';
    line-height: 50px;
    color: black;
    font-weight: 600;
}

/*-- Localização FIM --*/

/* Imagem */
#relogio1{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 385px; 
   border:1px black solid;
   border-radius: 100%;
   
}

/* Imagem FIM */

/* Mapa */
.localizacao iframe{
    position: absolute;
    bottom: 0px;
    width:480px; 
    height:420px;
    margin-left: 750px;

}

/* Mapa FIM*/

/*-- Localização FIM --*/

/*-- Planos --*/

.planos{
    position: relative;
    height: 700px;
}


.planos div{
    height: 600px;
    width: 368px;
    background-color: silver;
    border-radius: 5%;
    padding: 2px;
}

/*-- Planos FIM --*/

/*Mensal*/

.mensal{
   position: absolute;
   left: 300px;
   box-shadow:3px 1px 1rem gray;
   background-image: linear-gradient(silver,black)
   
   
}
#P_mensal{
   border-radius: 5%;
   width: 100%;
   height: 100%;
   
   
}
.mensal:hover{
    transition: 600ms;
    margin-top: 13px;
    box-shadow:7px 7px 2rem gray,7px 7px 2rem black;
   
}

/*Mensal FIM*/

/*Anual*/

#P_anual{
    border-radius: 5%;
    width: 100%;
    height: 100%; 
}

.anual{
   position: absolute;
   left: 800px;
   box-shadow:3px 1px 1rem goldenrod;
   background-image: linear-gradient(goldenrod,black);
}
.anual:hover{
    transition: 600ms;
    margin-top: 13px;
    box-shadow:7px 7px 2rem goldenrod,7px 7px 2rem black;
    
}

/*Anual FIM*/

/*-- 360º --*/

.a360{
    width: 84%;
    height: 880px;
    margin: 0 auto;
}
.a360 iframe{
   display: flex;
   margin: auto;
   border-width: 2px;
}

/*-- 360º FIM --*/



/*=====================================================================FIM HOME===============================================================*/

/*==================================================================== Atividades ===========================================================*/

/*Div principal*/
.atv{
    margin:0 auto;
    position: relative;
}

/*-- Menu -- */



/*Menu Div - Legendas*/

/*Imagens menu*/

.menu2 img{

    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 45px;
    height: 80px;
    width: 80px;
    cursor:pointer;
    
}
.menu2 img:hover, .menu2 figcaption {
    margin-top: 2px;
    transition: 0.8s;
    text-shadow: 0.2px 0.2px 1px black, -0.2px 0.2px 1px red;
}
.menu2 figure:hover, .menu2 figcaption:hover{
    
    text-decoration:underline red;
}
/*Final Imagens Menu*/
/*Menu*/
.menu2{
    border-bottom:1.5px solid black;
    margin-top: 25px;
    margin-left: 40px;
    display: flex;
    position: absolute;
    bottom: 117px;
    left: 262px;
    padding-right: 40px;
}
/*Final Menu*/
/*Menu legenda*/
.menu2 figcaption{
    text-shadow: 1px 1px 1px black, -1px 1px 1px black,1px -1px 1px black;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight:900;
    font-stretch:extra-condensed;
    margin-left: 43px;
    margin-top: 5px;
    margin-bottom: 12px;
    color: white;
}
/*Final Menu legenda*/



/*Final Menu Div - Legendas*/

/*Banners Atividade*/
#prinATV {
    margin:15px auto; 
}
#trocarimg{
    min-height: 100%;
    height: 790px;
    width: 100%;
    
}
/*Final Banners Atividade*/


/*botão escoder e aparecer cabeçario*/


#esconder{
    display: none;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 1px 1px 1rem black;
    font-size: 24px;
    
}
#aparecer{
    
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 1px 1px 1rem black;
    font-size: 24px;
    
}

.test{
    z-index: 1;
    position:fixed;
    top:30px;
    left:680px;
}
#esconder :hover{
   
    transition: 1s;
    margin-top: 3px;
}
#esconder:hover,#aparecer:hover{
    margin-top: 3px;
}

/*Final Botões*/



/*================================================================== FIM Atividades =======================================================*/
/*==================================================================     Sobre     =======================================================*/
/*Imagen Sobre Legenda*/
.sobre figure img{
    
    margin: 3px;
    height: 99%;
    width: 99%;
    border-radius: 3%;
    
    
    
}
.sobre figure{
    border-radius: 3%;
    height: 583px;
    width: 593px;
    margin-top:30px;
    background-image: linear-gradient(-45deg,gray,white,#BB0A21,gray);
    animation: anima 15s ease infinite;
    background-size: 400% 400%;
}
#imgss figcaption{
    color:black;
    text-align: center;
    margin-top: 4px;
    
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: sombra 10s ease infinite;
}


/*Sobre*/
.sobre{
    align-items: center;
    display: flex;
    justify-content:space-around;
}


/*Text Sobre*/

#sobreTxt{
   
    width: 40%; 
    
 }


#sobreTxt h3{
    font-family:'Quicksand', sans-serif ;
    text-align: center;
    border-width: 0px;
    border-top-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right,gray, red ,gray ) 1;
    font-size: 28px;
    margin-bottom: 90px;
    padding-top: 10px;
    
    
}
#sobreTxt p{
   
    text-align: justify;
    font-size: 24px;
}
/*Animação bordas*/
@keyframes anima{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes sombra {
    0%{
        color: black;
    }
    25%{
        color: gray;
    }
    50%{
        color:  #BB0A21;
    }
    75%{
        color:red
    }
    100%{
        color:black;
    }
}
@keyframes titulo {
    0%{
        border-image: linear-gradient(to right,red,silver,gray ,gray ) 1;
    }
    25%{
        border-image: linear-gradient(to right,gray,red,silver ,gray ) 1;
    }
    50%{
        border-image: linear-gradient(to right,gray,gray,red ,silver) 1;
    }
    75%{
        border-image: linear-gradient(to right,silver,gray,gray ,red ) 1;
    }
    100%{
        border-image: linear-gradient(to right,red,silver,gray ,gray ) 1;
    }

     
    
}


/*--================================================================== Pagamento =================================================================--*/


/*===============Opções Pagamento============*/

.contentPag{
    background-color: white;
    align-items: center;
    height:830px;
    width: 450px;
    margin-left: 900px;
    margin-top: 10px;
    border-radius: 2%;
    box-shadow: 1px 1px 1px whitesmoke;
}
/* Titulo pagamento*/

#tiPlanos{
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid ;
    color: red;
    font-size: 39px;
    font-family:'Quicksand', sans-serif;
    animation: titulo 2s ease infinite;
    width: 88%;

    
}


/*Formulario*/

/*Formulario div principal*/
.formulario{
    align-items: center; 
    font-family: 'Roboto';
}

/*Selects do formulario*/

.formulario select{
    margin-left: 21px;
    margin-bottom: 30px;
    height: 40px;
    width: 400px;
    border-radius: 10px 2px;
    text-align: center;

}

/*titulo 2*/
#ti2Planos{
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid ;
    color: red;
    font-size: 39px;
    font-family:'Quicksand', sans-serif;
    animation: titulo 2s ease infinite;
    width: 88%;
    
}

/*Botão atualizar*/


#buttonAtt{
    
    text-decoration: none;
    background-color: #BB0A21;
    margin-left: 40px;
    padding: 15px 150px ;
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 10px;
    color: white;
    transition: all 1s ;

    
}
#btt{
    margin-top: 37px;

}

#buttonAtt:hover{
    opacity: 90%;
    border-color: black;
    text-shadow: 1px 1px 5px black;
    
}
input:focus{

    transition: 600ms;
    border-bottom: 1px solid red !important;
}
/*Tipos de Pagamento*/



/*Assinar*/
.formulario input[type="submit"]{
  
    text-decoration: none;
    background-color:rgb(107, 2, 2);
    margin-left: 40px;
    margin-top: 60px;
    padding: 15px 150px ;
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 10px;
    color: white;
    transition: all 1s ;
    font-size: 18px;
    cursor: pointer;
    
}
.formulario input[type="submit"]:hover{
    opacity: 90%;
    border-color: black;
    text-shadow: 1px 1px 5px black;
    
}


/*inputs padroes*/

.contentPag p{
    margin-left: 25px;
}

.contentPag p label{
    display: flex;
    margin-bottom: 3px;
}

.contentPag p input{
    display: flex;
    height: 30px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px; 
}




/*Formas de pagamento*/

#pix{
    display: none;
}


#Credito{
    display: none;
}

#Debito{
    display: none;
}

/* Fim formulario */

/* img e vantagens */

/* Imagem pagamento*/
#imgPag img{
    box-shadow: 1px 1px 8px black;
    display: none;
    position: absolute;
    height: 480px;
    width: 310px;
    border-radius: 5%;
    left: 100px;
    bottom: 120px;
    
    
}

/* Vantagens  */

#infPlanos{
    display: none;
   text-shadow: 1px 1px 8px white;
    border-radius: 10px;
   position: absolute;
   left: 500px;
   bottom: 150px;
   font-family: 'Roboto';
   font-weight: 100 ;
   font-size: 27px;

   
}
#infPlanos h2{
    margin: 35px 0 !important;
    font-weight: 100;
    
    
}
#infPlanos p{
    font-size: 25px;
}

#infPlanos ul{
   padding-left: 30px; 
  
    
}
#infPlanos li{
   margin-top: 8px;
   
   
   
}
#valor{
    font-weight:500 !important; 
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 7px silver
    
}
#valor1{
    font-weight:400 !important; 
    text-shadow: 1px 1px 7px silver;
    font-family: 'Quicksand', sans-serif;;
    
}


/*Legenda*/

.contentPag legend{
    
    color: #635656;
    margin-bottom: 33px;
    font-size: 18px;
    font-family: 'Roboto';
    text-align: center;
    
}

/*--================================================================== Pagamento FIM ==============================================================--*/
     
    


